
$naranja: #F2A649;
/*MAIN CONTACTO*/
.contacto{
    align-items: center;
    &_element {
        width: 100%;
        &_titulo{
            margin: 2rem;
        }
        &--mapa{
            height: 30rem;
            margin: 1rem;
        }
    }
    
}

