
$naranja: #F2A649;

/*MAIN INDEX*/

/*Carusel*/
.banner{  
    height: 80vh;
    overflow: hidden;
    object-position: center;

}

.imagenC{
    height: 80vh;
    object-position: center;
    margin: auto;
    
}


.principal{
    gap: 0;
}

/*Servicios mas populares*/

.serviciosPopulares{
    &_element{
        justify-content: center;
        align-items: center;
        padding: 3rem;
        img{
            padding: 1rem;
            margin: 2rem;
            max-width: 20rem;
        }
    }
    .naranja{
        background-color: $naranja;
        .btn-primary{
            background-color: #F2F2F2;
            a{
                color: black;
            }
        }
    }
    .blanco .btn-primary{
        background-color: $naranja;
        a{
            color: #F2F2F2;
        }
        
    }
    .btn-primary{
        border: none;
        a{
            text-decoration: none;
        }
    }


}



