
$naranja: #F2A649;

/*MAIN INDEX*/

/*Carusel*/
.banner{  
    height: 80vh;
    overflow: hidden;

}


.carousel-item {
    position:unset; 
    height: 80vh; 
}

.imagenC{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}


.principal{
    gap: 0;
}

/*Servicios mas populares*/

.serviciosPopulares{
    margin-bottom: 2rem;
    &_element{
        justify-content: center;
        align-items: center;
        padding: 4rem;
        margin-bottom: 0.5rem;
        img{
            padding: 0.5rem;
            margin: 1rem;
            max-width: 15rem;
        }
    }
    .naranja{
        background-color: $naranja;
        .btn-primary{
            background-color: #F2F2F2;
            a{
                color: black;
            }
        }
    }
    .blanco .btn-primary{
        background-color: $naranja;
        a{
            color: #F2F2F2;
        }
        
    }
    .btn-primary{
        border: none;
        a{
            text-decoration: none;
        }
        &:hover{
            background-color: #F25C5C;

        }
    }


}



