/*SERVICIOS*/
$naranja: #F2A649;


/*Cards */

.populares {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .card{
        margin: 2rem;
        justify-content: center;
        border-radius: 10px;
        &-imgs{
            width:auto;
            max-height: 12rem;
            overflow: hidden;
        }
        &-body {
            text-align: center;
            .btn-primary{
                background-image: linear-gradient(to right,$naranja,#F25C5C);
                border:none;
            }
            
            
        }
        &-title{
            text-transform: uppercase;
        }
    }
}




