$naranja: #F2A649;
/*MAIN TRABAJOS*/

.imagenes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8,20rem);
    column-gap: 1rem;
    row-gap: 1rem;
    &_contenedor{
        display:inline-block;
        position:relative;
        &_texto{
            position:absolute;
            left:0;
            right: 0;
            bottom: 0;
            z-index:-10;
            padding:1rem;
            margin:0;
            color: black;
        }
        &_singular{
            width: 100%;
            height: 100%;
            object-fit: cover;
            &:hover{
                opacity:0.6 ;
            }
        }
    }


}

