@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import "parciales/_inicio";
@import "parciales/_servicios";
@import "parciales/_nosotros";
@import "parciales/_trabajos";
@import "parciales/_contacto";
$naranja: #F2A649;


*{
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.2rem;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; 
}

body{
    background-color: #F2F2F2;
}


/*---HEAVER/NAV---*/

header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    nav .item-nav{
        text-decoration: none;
        color: white;
        margin: 0.5rem;
        text-align: center;
        transition: color 0.1s;
        &:hover{
            color: #F2A649;
        
        }
    }
    .logos{
        width: 300px;
    }
}


.uls{
     justify-content: center;
     align-items: center;
}




/*MAIN GENERALES PAGES*/

main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1.5rem;
}


/*Banner de servicios, nosotros y trabajos*/
@keyframes mover{
    from{}
    to{
        transform: translate(0rem,1.4rem);
    }
}

.banners{
    height: 80vh;
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 0%;
    margin: 0%;
    &_titulo{
        margin: 2rem;
        background-color: rgba(0, 0, 0, 0.63);
        color: white;
        align-self: center;
        padding: 1.3rem;
        text-align: center;
        border-radius: 5px 30px 5px 30px;
    }
    &_flecha{
        width: 4rem;
        justify-self: center;
        animation: mover 1.3s infinite alternate;
        filter: drop-shadow(0px 5px 4px rgb(134, 132, 132));
    }
}

$backs:(
    ft2:"banner3.jpeg",
    ft1:"banner.jpg",
    ft3:"banner4.jpg",
    ft4:"banner5.jpg",
);

@each $back,$nom in $backs {
    .banners--#{$back} {
        background-image: url(../media/#{$nom}) ;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;

    }
}



/*FORMULARIOS*/

form{
    margin: 1rem;
    background-color: #ebebeb;
    padding: 2rem;
    border-radius: 20px;
    input{
        width: 30rem;
        height: 2rem;
        background-color: white;
        color: black;
        &:hover{
            transform: scale(1.05);
            transition: 1s;  
        }
        border:1px solid #ced4da;
        border-radius: 0.25rem;
    }   
    legend{
        padding: 1rem;
    }
    div{
        padding: 1rem;
    }
    .acepte input{
        transform: none;

    }
}

 


/*FOOTER*/


.footers {
    padding: 20px;
    color: #F2F2F2;
    background-color: $naranja;
    margin-top: 1rem;
    &_element{
        ul li {
            list-style: none;
            a {
                color: white;
                text-decoration: none;
                letter-spacing: 0.1rem;
                margin: 2rem;
                &:hover{
                    text-decoration: underline;

                }
                
        
            }

        }
        &_redes{
            display: flex;
            justify-content: center;
            align-items: center;
            &_iconos{
                margin: 0.5rem;
                background-color: #F2F2F2;
                padding: 1rem;
                border-radius: 50%;
                box-shadow: 0px 1px 10px #666666;
                &:hover{
                    background-color: white ;
                    transition: 1s;
                    transform: scale(1.1);
                }

            }
            img{
                width: 25px;
            }
        }
        p {
            flex-grow: 1;
            text-align: center;
            margin: 0%;
        
        }
        
    }

}


/*Responsive*/

@media only screen and (max-width: 1024px){

    .logito{
        display: none;
    }

    
}
@media only screen and (max-width: 768px){
    .imagenes{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(12,15rem);
        column-gap: 1rem;
        row-gap: 1rem

    }


    header .logos{
        width: 280px;
    }

    .footers_element_redes_iconos img{
        width: 23px;
    }

    .footers_element_redes_iconos{
        padding: 0.8rem;
    }

    .serviciosPopulares{
        &_element{
            padding: 2rem;
        }
    }   

    @each $back,$nom in $backs {
        .banners--#{$back} {
            background-image: url(../media/#{$nom}) ;
            background-size: auto 80vh;
            overflow: hidden;
    
        }
    }
 
}   


@media only screen and (max-width: 480px){ 
    header .logos{
        width: 180px;
    }
    .imagenC{
        width: 600px;
    }

   
}  

@media only screen and (max-width: 320px){
    .imagenes{
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(24,10rem);
        column-gap: 1rem;
        row-gap: 1rem

    }
    header .logos{
        width: 130px;
    }

    .footers_element_redes_iconos{
        padding: 0.8rem;
    }


}  
